@model Customer

<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lån</h2>
        </div>
        <div class="col-6">
            <h3 class="text-secondary float-right">@Model.CustomerFirstName @Model.CustomerLastName</h3>
        </div>
    </div>
    @if(Model.Loans.Count > 0) { 
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Boktitel
                    </th>
                    <th>
                        Författare
                    </th>
                    <th>
                        Låndatum
                    </th>
                    <th>
                        Är återlämnad
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loan in Model.Loans)
                {
                    <tr>
                        <td>
                            <div class="text-left">@loan.Book.BookTitle</div>
                        </td>
                        <td>
                            <div class="text-left">@loan.Book.Author</div>
                        </td>
                        <td>
                            <time class="text-left">@loan.DateForLoan</time>
                        </td>
                        @if (loan.DateForReturn < DateTime.Now)
                        {
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label"><i class="fa-regular fa-square-check text-success"></i>
                                        Ja
                                    </label>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label"><i class="fa-regular fa-square text-danger"></i>
                                        Nej
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Loan" asp-action="Edit" asp-route-id="@loan.LoanId">Återlämna</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
            else
            {
                <div class="pb-3">Du har inte gjort några lån.</div>
            }
        <a asp-controller="Customer" asp-action="List" class="btn btn-secondary" style="width:150px">Tillbaka</a>
    </div>