@model IEnumerable<Customer>

<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Låntagare</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Customer" asp-action="Create" class=" btn btn-success float-right"><i class="fa-solid fa-circle-plus"></i>&nbsp; Skapa ny låntagare</a>
        </div>
    </div>

    <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>
                    Namn
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        <div class="text-left">@customer.CustomerFirstName @customer.CustomerLastName</div>
                    </td>
                    <td class="float-right">
                        <form>
                            <div class="btn btn-group">
                                <a class="btn btn-primary" asp-controller="Customer" asp-action="CustomerDetails" asp-route-id="@customer.CustomerId"><i class="fa-solid fa-user"></i> Information</a>
                                <a class="btn btn-warning" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId"><i class="fa-regular fa-pen-to-square"></i> Uppdatera</a>
                                <a class="btn btn-danger" asp-controller="Customer" asp-action="Remove" asp-route-id="@customer.CustomerId"><i class="fa-solid fa-trash-can"></i> Ta bort</a>
                                <a class="btn btn-info" asp-controller="Customer" asp-action="Details" asp-route-id="@customer.CustomerId"><i class="fa-solid fa-book"></i> Se lån</a>
                            </div>
                        </form>
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>
